.seat-simple {
    padding: 1px;
    height: 5px;
    box-sizing: border-box;
    margin: 0px 2px;
    font-size: 12px;
    background-color: burlywood;
}

.row-simple {
    margin: 3px 0px;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.row-null {
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

.seat-couple {
    font-size: 12px;
    padding: 1px;
    height: 5px;
    box-sizing: border-box;
    margin: 0px 2px;
    background-color: burlywood;
}

.row-couple {
    text-align: center;
}

.container-seat {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}