.information-card {
    font-family: arial;
}

.information-container {
    padding-top: 30px;
    box-sizing: border-box;
    margin: 0px 30px;
}

.information-card-littleinfor {
    display: inline-flex;
    width: 100%;
    height: 600px;

    img {
        object-fit: cover;
    }

    h1 {
        margin: 10px 0px 0px 40px;
    }
}