.Listmovieshowinfilter-container {
    display: flex;
    flex-direction: column;
    .filter-cine-name{
        color: blueviolet;
    }
    .filter-cine{
        margin-top: 20px;
        border: 1px solid black;
    }
    .filter-cine-date{
        min-width: 250px;
    }
    .filter-cine-name-date-time{
        display: flex;
        padding: 5px;
    }
    .filter-cine-container-time-element{
        border: 1px solid black;
        background-color: chocolate;
        padding: 3px;
        box-sizing: border-box;
    }
    .filter-cine-container-time-element + .filter-cine-container-time-element {
        margin-left: 30px;
    }
}